
.container .navbar-brand{
  font-family: 'Viga', sans-serif;
}
.navbar-nav a:hover::after{
  content: '';
  display: block;
  border-bottom: 3px solid white;
  width: 30px;
  margin: auto;
  padding-bottom: 3px;
}
.jumbotron{
  background-color: #e2edff;
}
.about .container div span{
  display: block;
  background-color: #e2edff;
  height: 60px;
  width: 330px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 7px;
}
.sertification{
  background-color: #e2edff;
}
.sertification .container .view a{
  text-decoration: none;
}
.sertification .container .view .btn-primary{
  transition: 1s;
}
.sertification .container .view .btn-primary:hover{
  transform:scale(.96);
  border:3px solid white;
}
.sertification .container .card{
  transition: .5s;
}
.sertification .container .card:hover{
  transform: scale(.98);
  border: 3px solid rgb(0, 140, 255);
}
.Projects .container .card{
  transition: .5s !important;
  border-radius: 7px;
}
.Projects .container .card:hover{
  transform: scale(.98);
  border: 3px solid rgb(0, 140, 255);
}
.contact .container form .form-label{
  font-weight: 600;
}
.contact .container form .form-control{
  background-color: rgba(245, 245, 245, 0);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 7px;
}
footer div p{
  color: #d2d4d6ee;
}


/* mobile*/
@media screen and (max-width:576px){
  .navbar-nav a:hover::after{
    margin-left: 7px;
}
  .sertification .container .view .btn-primary{
    width: 130px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
}